<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>org.gnu.emacs</string>
  <key>ProgramArguments</key>
  <array>
      <string>/Users/johh.soo/.nix-profile/bin/emacs</string>
    <string>--fg-daemon=johh.soo</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>ServiceDescription</key>
  <string>Gnu Emacs Daemon</string>
  <key>UserName</key>
  <string>johh.soo</string>
</dict>
</plist>
