[color]
	ui = auto
[core]
	editor = /usr/bin/emacsclient -nw --socket-name term
	autocrlf = input
	safecrlf = true
	excludesfile = /home/john/.gitignore
[push]
	default = upstream
[merge]
	conflictstyle = diff3
[user]
	email = jsoo1@asu.edu
	name = John Soo
[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[credential]
	helper = cache
