[color]
	ui = auto
[core]
	autocrlf = input
	safecrlf = true
[push]
	default = upstream
[merge]
	conflictstyle = diff3
[user]
	email = jsoo@panosoft.com
	name = John Soo
[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[credential]
	helper = cache
