[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=forking
ExecStart=/usr/bin/fish -c "/usr/bin/emacs --daemon=term"
Restart=always
User=john
WorkingDirectory=%h

[Install]
WantedBy=multi-user.target
