<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Emacs</string>
    <key>CFBundleExecutable</key>
    <string>emcf</string>
    <key>CFBundleIdentifier</key>
    <string>org.john.emacs-frame</string>
    <key>CFBundleIconFile</key>
    <string>Emacs.icns</string>
    <key>CFBundleName</key>
    <string>Emacs</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>0.1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
</dict>
</plist>
